<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFORMATICA APLICADA</title>
    <link rel="shortcut icon" type="image/png" href="/IMG/ticon-modified.png" class="logo">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <span class="titulo"><h1>OBJETIVO DE LA INFORMÁTICA EN ADMINISTRACIÓN</h1></span>
    <div class="contenedor">
        <h1>Preguntas y respuestas sobre informática</h1>

        <div class="pregunta">
            <h2>3. Según tu punto de vista……. Qué opinas de la afirmación “La informática está presente en nuestra vida cotidiana”. Desarrolla tu respuesta sin ayuda externa.</h2>
            <p class="respuesta" id="respuesta3"></p>
            <button onclick="mostrarRespuesta('respuesta3')">Mostrar respuesta</button>
        </div>

        <div class="pregunta">
            <h2>4. Explica la finalidad de la informática en los procesos administrativos y sus ventajas.</h2>
            <p class="respuesta" id="respuesta-4"></p>
            <button onclick="mostrarRespuesta('respuesta-4')">Mostrar respuesta</button>
        </div>

        <div class="pregunta">
            <h2>5. Teniendo en cuenta la lectura…. ¿A quiénes se limitaba la implementación de recursos informáticos?</h2>
            <p class="respuesta" id="respuesta-5"></p>
            <button onclick="mostrarRespuesta('respuesta-5')">Mostrar respuesta</button>
        </div>

        <div class="pregunta">
            <h2>6. ¿Qué hizo posible que hoy pequeñas y medianas empresas puedan contar con estos recursos?</h2>
            <p class="respuesta" id="respuesta-6"></p>
            <button onclick="mostrarRespuesta('respuesta-6')">Mostrar respuesta</button>
        </div>

        <div class="pregunta">
            <h2>7. ¿Cómo fue creciendo el uso de los recursos informáticos en las empresas?</h2>
            <p class="respuesta" id="respuesta-7"></p>
            <button onclick="mostrarRespuesta('respuesta-7')">Mostrar respuesta</button>
        </div>

        <div class="pregunta">
            <h2>8. ¿Cuál es el sector de las empresas que se vió más beneficiado por el uso de los recursos informáticos? ¿Cuáles son las mejoras que se pudieron lograr?</h2>
            <p class="respuesta" id="respuesta-8"></p>
            <button onclick="mostrarRespuesta('respuesta-8')">Mostrar respuesta</button>
        </div>

        <div class="pregunta">
            <h2>9. Realiza un listado de programas o aplicaciones que utilizas actualmente y describe su función</h2>
            <p class="respuesta" id="respuesta-9"></p>
            <button onclick="mostrarRespuesta('respuesta-9')">Mostrar respuesta</button>
            </div>
            <script src="/javascript.js"></script>
</body>
</html>